* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Main {
  display: flex;
  flex-direction: column;
}

.Starter {
  display: flex;
  flex-direction: column;
  padding: 81px 159px 707px 160px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Starter h2 {
  width: 712px;
  padding: 56px 0px 10px 0px;
  width: 302px;
  justify-content: center;
  align-items: center;
  color: #969696;
  gap: 15px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Libre Franklin";
  font-size: px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin-right: 3px;
}

.Starter span {
  color: #15202a;
  font-family: "Libre Franklin";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.Starter h3 {
  flex-shrink: 0;
  padding: 10px 0;
  margin-bottom: 10px; /* Added margin-bottom to create space */
  color: #15202a;
  text-align: center;
  font-family: "Libre Franklin";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.Starter .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Starter .input,
.notify {
  width: 421px;
  height: 56px;
  border-radius: 28px;
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
  margin-bottom: 20px;
}

.Starter .input {
  justify-content: center;
  border: 1px solid #c2d3ff;
  color: #b8c7ed;
  font-weight: 300;
  line-height: 20px;
  padding: 10px 32px;
}

.notify {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4c7bf3;
  color: #fff;
  color: #fff;
  text-align: center;
  font-family: "Libre Franklin";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
}
